example-map-reduce/src/main/app/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--

    Mule MongoDB Cloud Connector

    Copyright (c) MuleSoft, Inc.  All rights reserved.  http://www.mulesoft.com

    The software in this package is published under the terms of the CPAL v1.0
    license, a copy of which has been included with this distribution in the
    LICENSE.txt file.

-->

<mule xmlns="http://www.mulesoft.org/schema/mule/core" 
  xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo"
  xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:spring="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:http="http://www.mulesoft.org/schema/mule/http"
  xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/1.0/mule-mongo.xsd
       http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd
       http://www.mulesoft.org/schema/mule/json    http://www.mulesoft.org/schema/mule/json/3.1/mule-json.xsd
       http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/3.0/mule-http.xsd">

  <mongo:config name="mongo" />

  <flow name="AddObservation">
    <description>Given a weather observation, it adds it to a collection</description>
    <logger message="Populating collection with the following weather information: #[payload]" />
    <mongo:insert-object collection="weatherObservations" element="#[json:weatherObservation]"/>
  </flow>

  <flow name="AddWeatherObservationAndComputeStats">
    <http:inbound-endpoint host="localhost" port="9090"
      path="mongo-demo-map-reduce-add-weather-observation-and-compute-stats" />
    <message-properties-transformer scope="session">
      <add-message-property key="cityIcao"
        value="#[header:inbound:cityIcao]" />
    </message-properties-transformer>
    <http:outbound-endpoint host="ws.geonames.org"
      port="80" path="weatherIcaoJSON?ICAO=#[header:session:cityIcao]" />
    <flow-ref name="AddObservation" />
    <flow-ref name="ComputeStats"/>
  </flow>
  
  <flow name="ComputeStats">
    <mongo:map-reduce-objects
      collection="weatherObservations"  
      mapFunction='function(){ emit(this.ICAO, parseFloat(this.temperature) ); }' 
      reduceFunction='function(key, values) {          
            return values.reduce(function(a,e) { return a + e }) / values.length;    
          }'
          outputCollection="weatherStats" />
      <mongo:find-one-object collection="weatherStats">
        <mongo:queryAttributes>
          <mongo:queryAttribute key="_id" value="#[header:session:cityIcao]"/>
        </mongo:queryAttributes>
      </mongo:find-one-object>
  </flow>
</mule>