src/test/resources/mongo-namespace-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--

  Mule MongoDB Cloud Connector Copyright (c) MuleSoft, Inc. All rights
  reserved. http://www.mulesoft.com The software in this package is
  published under the terms of the CPAL v1.0 license, a copy of which
  has been included with this distribution in the LICENSE.txt file.
-->

<!--

  This file was automatically generated by the Mule Cloud Connector
  Development Kit
-->

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo"
      xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                          http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd
                          http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/1.0/mule-mongo.xsd">

    <mongo:config/>

    <spring:bean id="myDbObject" class="com.mongodb.BasicDBObject"/>

    <flow name="CreateCollection">
        <mongo:create-collection collection="aCollection" capped="true"/>
    </flow>

    <flow name="ListCollections">
        <mongo:list-collections/>
    </flow>

    <flow name="ExistsCollection">
        <mongo:exists-collection collection="aColllection"/>
    </flow>

    <flow name="DropCollection">
        <mongo:drop-collection collection="aCollection"/>
    </flow>

    <flow name="InsertObject">
        <mongo:insert-object collection="Employees" writeConcern="SAFE" dbObject-ref="myDbObject"/>
    </flow>


    <flow name="CreateIndex">
        <mongo:create-index collection="myCollection" field="myField" order="DESC"/>
    </flow>

    <flow name="DropIndex">
        <mongo:drop-index collection="myCollection" index="#[map-payload:anIndexName]"/>
    </flow>

    <flow name="ListIndices">
        <mongo:list-indices collection="myCollection"/>
    </flow>

    <flow name="UpdateObject">
        <mongo:update-objects collection="#[map-payload:aCollectionName]" query-ref="myDbObject"
                              element-ref="myDbObject" upsert="true"/>
    </flow>

    <flow name="SaveObject">
        <mongo:save-object collection="#[map-payload:aCollectionName]" element-ref="myDbObject"/>
    </flow>

    <flow name="RemoveObjects">
        <mongo:remove-objects collection="#[map-payload:aCollectionName]" query-ref="myDbObject"/>
    </flow>

    <flow name="MapReduceObjects">
        <mongo:map-reduce-objects collection="myCollection" mapFunction="#[header:aJSMapFunction]"
                                  reduceFunction="#[header:aJSFoldFunction]"/>
    </flow>

    <flow name="CountObjects">
        <mongo:count-objects collection="#[variable:aCollectionName]" query-ref="myDbObject"/>
    </flow>

    <flow name="FindObjects">
        <mongo:find-objects collection="myCollection" query-ref="myDbObject">
            <mongo:fields>
                <mongo:field>field1</mongo:field>
                <mongo:field>field2</mongo:field>
            </mongo:fields>
        </mongo:find-objects>
    </flow>

    <flow name="FindOneObject">
        <mongo:find-one-object collection="myCollection" query-ref="myDbObject">
            <mongo:fields>
                <mongo:field>field1</mongo:field>
                <mongo:field>field2</mongo:field>
            </mongo:fields>
        </mongo:find-one-object>
    </flow>

    <flow name="FindOneObjectUsingQueryMap">
        <mongo:find-one-object-using-query-map collection="myCollection">
            <mongo:query-attributes>
                <mongo:query-attribute key="foo">foobaz</mongo:query-attribute>
                <mongo:query-attribute key="foobar">foobaz</mongo:query-attribute>
            </mongo:query-attributes>
        </mongo:find-one-object-using-query-map>
    </flow>
    <flow name="FindOneObjectFieldsList">
        <mongo:find-one-object collection="myCollection" query-ref="myDbObject">
            <mongo:fields>
                <mongo:field>aField</mongo:field>
                <mongo:field>anotherField</mongo:field>
            </mongo:fields>
        </mongo:find-one-object>
    </flow>


    <flow name="UpdateObjectAsMap">
        <mongo:update-objects-using-map collection="#[map-payload:aCollectionName]" upsert="true">
            <mongo:query-attributes>
                <mongo:query-attribute key="foo">foobaz</mongo:query-attribute>
                <mongo:query-attribute key="foobar">foobaz</mongo:query-attribute>
            </mongo:query-attributes>
            <mongo:element-attributes>
                <mongo:element-attribute key="foo">bar</mongo:element-attribute>
                <mongo:element-attribute key="foobar">baz</mongo:element-attribute>
            </mongo:element-attributes>
        </mongo:update-objects-using-map>
    </flow>


    <flow name="InsertObjectAsMap">
        <mongo:insert-object-from-map collection="Employees" writeConcern="SAFE">
            <mongo:element-attributes>
                <mongo:element-attribute key="foo">bar</mongo:element-attribute>
                <mongo:element-attribute key="foobar">baz</mongo:element-attribute>
            </mongo:element-attributes>
        </mongo:insert-object-from-map>
    </flow>

    <flow name="CreateFile">
        <mongo:create-file-from-payload filename="#[variable:filename]" metadata-ref="myDbObject"/>
    </flow>

    <flow name="ListFiles">
        <mongo:list-files query-ref="myDbObject"/>
    </flow>

    <flow name="ListFilesUsingQueryMap">
        <mongo:list-files-using-query-map>
            <mongo:query>
                <mongo:query-attribute key="foo">foobaz</mongo:query-attribute>
                <mongo:query-attribute key="foobar">foobaz</mongo:query-attribute>
            </mongo:query>
        </mongo:list-files-using-query-map>
    </flow>

    <flow name="RemoveFiles">
        <mongo:remove-files query-ref="myDbObject"/>
    </flow>

    <flow name="RemoveFilesUsingQueryMap">
        <mongo:remove-files-using-query-map>
            <mongo:query>
                <mongo:query-attribute key="foo">foobaz</mongo:query-attribute>
                <mongo:query-attribute key="foobar">foobaz</mongo:query-attribute>
            </mongo:query>
        </mongo:remove-files-using-query-map>
    </flow>

    <flow name="FindFiles">
        <mongo:find-files query-ref="myDbObject"/>
    </flow>

    <flow name="FindFilesUsingQueryMap">
        <mongo:find-files-using-query-map>
            <mongo:query>
                <mongo:query-attribute key="foo">foobaz</mongo:query-attribute>
                <mongo:query-attribute key="foobar">foobaz</mongo:query-attribute>
            </mongo:query>
        </mongo:find-files-using-query-map>
    </flow>

    <flow name="FindOneFile">
        <mongo:find-one-file query-ref="myDbObject"/>
    </flow>

    <flow name="FindOneFileUsing">
        <mongo:find-one-file-using-query-map>
            <mongo:query>
                <mongo:query-attribute key="foo">foobaz</mongo:query-attribute>
                <mongo:query-attribute key="foobar">foobaz</mongo:query-attribute>
            </mongo:query>
        </mongo:find-one-file-using-query-map>
    </flow>

    <flow name="GetFileContent">
        <mongo:get-file-content query-ref="myDbObject"/>
    </flow>

    <flow name="GetFileContentUsingQueryMap">
        <mongo:get-file-content-using-query-map>
            <mongo:query>
                <mongo:query-attribute key="foo">foobaz</mongo:query-attribute>
                <mongo:query-attribute key="foobar">foobaz</mongo:query-attribute>
            </mongo:query>
        </mongo:get-file-content-using-query-map>
    </flow>

    <flow name="FindOneFileUsingQueryMap">
        <mongo:find-one-file-using-query-map>
            <mongo:query>
                <mongo:query-attribute key="foo">foobaz</mongo:query-attribute>
                <mongo:query-attribute key="foobar">foobaz</mongo:query-attribute>
            </mongo:query>
        </mongo:find-one-file-using-query-map>
    </flow>
</mule>
