src/test/resources/mongo-namespace-config.xml
<?xml version="1.0" encoding="UTF-8"?>
  <!--

    Mule MongoDB Cloud Connector Copyright (c) MuleSoft, Inc. All rights
    reserved. http://www.mulesoft.com The software in this package is
    published under the terms of the CPAL v1.0 license, a copy of which
    has been included with this distribution in the LICENSE.txt file.
  -->

  <!--

    This file was automatically generated by the Mule Cloud Connector
    Development Kit
  -->

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:spring="http://www.springframework.org/schema/beans"
  xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                          http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd
                          http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/1.0/mule-mongo.xsd">

  <mongo:config />

  <flow name="CreateCollection">
    <inbound-endpoint address="vm://CreateCollection"
      exchange-pattern="request-response" />
    <mongo:create-collection collection="aCollection"
      capped="true" />
  </flow>

  <flow name="ListCollections">
    <inbound-endpoint address="vm://ListCollections"
      exchange-pattern="request-response" />
    <mongo:list-collections />
  </flow>

  <flow name="ExistsCollection">
    <inbound-endpoint address="vm://ExistsCollection"
      exchange-pattern="request-response" />
    <mongo:exists-collection collection="aColllection" />
  </flow>

  <flow name="DropCollection">
    <inbound-endpoint address="vm://DropCollection"
      exchange-pattern="request-response" />
    <mongo:drop-collection collection="aCollection" />
  </flow>

  <flow name="InsertObject">
    <inbound-endpoint address="vm://InsertObject"
      exchange-pattern="request-response" />
    <mongo:insert-object collection="Employees"
      object="#[header:aBsonEmployee]" writeConcern="SAFE" />
  </flow>


  <flow name="UpdateObject">
    <inbound-endpoint address="vm://UpdateObject"
      exchange-pattern="request-response" />
    <mongo:update-objects collection="#[map-payload:aCollectionName]"
      query="#[variable:aBsonQuery]" object="#[variable:aBsonObject]"
      upsert="true" />
  </flow>


  <flow name="SaveObject">
    <inbound-endpoint address="vm://SaveObject"
      exchange-pattern="request-response" />
    <mongo:save-object collection="#[map-payload:aCollectionName]"
      object="#[header:aBsonObject]" />
  </flow>

  <flow name="RemoveObjects">
    <inbound-endpoint address="vm://RemoveObjects"
      exchange-pattern="request-response" />
    <mongo:remove-objects collection="#[map-payload:aCollectionName]"
      query="#[map-payload:aBsonQuery]" />
  </flow>

  <flow name="MapReduceObjects">
    <inbound-endpoint address="vm://MapReduceObjects"
      exchange-pattern="request-response" />
    <mongo:map-reduce-objects collection="myCollection"
      mapFunction="#[header:aJSMapFunction]" reduceFunction="#[header:aJSFoldFunction]" />
  </flow>

  <flow name="CountObjects">
    <inbound-endpoint address="vm://CountObjects"
      exchange-pattern="request-response" />
    <mongo:count-objects collection="#[variable:aCollectionName]"
      query="#[variable:aBsonQuery]" />
  </flow>

  <flow name="FindObjects">
    <inbound-endpoint address="vm://FindObjects"
      exchange-pattern="request-response" />
    <mongo:find-objects collection="myCollection"
      query="#[map-payload:aBsonQuery]" fields="#[header:aBsonFieldsSet]" />
  </flow>

  <flow name="FindOneObject">
    <inbound-endpoint address="vm://FindOneObject"
      exchange-pattern="request-response" />
    <mongo:find-one-object collection="myCollection"
      query="#[variable:aBsonQuery]" fields="#[map-payload:aBsonFieldsSet]" />
  </flow>

  <flow name="CreateIndex">
    <inbound-endpoint address="vm://CreateIndex"
      exchange-pattern="request-response" />
    <mongo:create-index collection="myCollection"
      field="myField" order="DESC" />
  </flow>

  <flow name="DropIndex">
    <inbound-endpoint address="vm://DropIndex"
      exchange-pattern="request-response" />
    <mongo:drop-index collection="myCollection"
      index="#[map-payload:anIndexName]" />
  </flow>
  
  <flow name="ListIndices">
    <inbound-endpoint address="vm://ListIndices"
      exchange-pattern="request-response" />
    <mongo:list-indices collection="myCollection" />
  </flow>
</mule>
